body {
    background-color: var(--page__background-color);
}

.lt__theme {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (width < 1280px) {
    .lt__theme {
        max-width: 100%;
    }
}

@media (min-width: 1280px) {
    .lt__theme {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .lt__theme {
        max-width: 1536px;
    }
}
