:root {
    --lt__theme-background: #e6f2ff;
    --lt__theme-background-toc: #f6c70a;
    --lt__theme-baseFontSize: 30px;
    --lt__theme-btn-primary-background: #2b63c7;
    --lt__theme-btn-primary-color: #ffffff;
    --lt__theme-color-primary: #333;
    --lt__theme-color-titles: #2b63c7;
    --lt__theme-font-family: 'LearnosityMath', 'Comic Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --lt__theme-headingFontSize: 1.8em;
    --lt__theme-subheadingFontSize: 1.4em;
    --lt__theme-smallFontSize: 0.8em;

    --page__background-color: #e6f2ff;
}
