$lt__theme-main-font-color: #303d49;
$lt__theme-main-font-size: 18px;
$lt__theme-main-font-weight: 600;
$lt__theme-main-font-family: 'LearnosityMath', 'Lato', sans-serif;
$lt__theme-main-border: #eaeaea;
$lt__theme-main-focus-border: #1877b1;
$lt__theme-main-btn-bgcolor: #3b8edc;
$lt__theme-main-btn-color: #ffffff;
$lt__theme-light-font-color-1: #767676;

$page__background-color: #f5f5f5;
