<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="flag"></div>
        <div id="learnosity_assess"></div>
        <script src="https://items.learnosity.com?latest-lts"></script>
        <script src="./index.mjs" type="module"></script>
        <script>
            const signature = <%- locals.signature || {} %>;
            const itemsApp = LearnosityItems.init(signature, {
                readyListener: init,
                errorListener: error
            });

            function init() {
                window.itemsApp = itemsApp;
                window.launch(itemsApp);
                // A DOM element that we can set so the test script knows the API has rendered
                document.getElementById('flag').classList.add('has-loaded');
            }

            function error(e) {
                console.log('Items API error', e);
            }
        </script>
    </body>
</html>
